@import "tailwindcss";

html {
  --line-color: #e5e7eb;
  overflow-x: hidden;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

@keyframes pulse {
  50% {
      opacity: 0.1;
  }
}
.animate-pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}